
<div class="container">
<div class="row">
    <div class="col s12 m13">
      <div class="card">
        <div class="card-image">
          <img src="../assets/restaurante.jpg">
          <span class="card-title">Restaurante ultra</span>
        </div>
        <div class="card-content">
            <section class="descripcion-restaurante">
                <h2>Bienvenido al Restaurante Ultra</h2>
                <h3>Descubre una Experiencia Gastronómica Inigualable</h3>
                <p>
                  En <strong>Restaurante Ultra</strong>, te invitamos a vivir una experiencia culinaria única, 
                  donde la excelencia en la cocina se encuentra con un servicio impecable y un ambiente acogedor. 
                  Ubicado en el corazón de la ciudad, nuestro restaurante es el lugar perfecto para disfrutar de 
                  momentos inolvidables con familiares y amigos.
                </p>
        
                <h3>Nuestra Cocina</h3>
                <p>
                  Nuestro equipo de chefs apasionados y creativos se dedica a preparar platos que deleitan todos los sentidos. 
                  Utilizamos ingredientes frescos y de la más alta calidad para ofrecerte una variedad de opciones que van 
                  desde la cocina tradicional hasta innovadoras fusiones culinarias. Cada plato es una obra de arte que 
                  combina sabor, textura y presentación.
                </p>
        
                <h3>Ambientes para Todos los Gustos</h3>
                <p>
                  Ya sea que prefieras un almuerzo tranquilo, una cena romántica o una celebración especial, en Restaurante Ultra 
                  encontrarás el ambiente perfecto. Nuestro espacio está diseñado con una estética moderna y elegante, creando 
                  un entorno cómodo y relajante.
                </p>
        
                <h3>Servicio Excepcional</h3>
                <p>
                  Nuestro compromiso es brindarte un servicio excepcional en todo momento. Desde que llegas hasta que te despides, 
                  nuestro amable y profesional equipo se asegurará de que tu visita sea perfecta. Nos enorgullece ofrecer una 
                  atención personalizada que hace que cada cliente se sienta especial.
                </p>
        
                <h3>Eventos y Celebraciones</h3>
                <p>
                  ¿Tienes un evento especial en mente? En Restaurante Ultra, nos encanta ser parte de tus momentos más importantes. 
                  Ofrecemos servicios de catering y espacios privados para eventos corporativos, bodas, cumpleaños y más. 
                  Déjanos ayudarte a crear recuerdos inolvidables.
                </p>
        
                <h3>Visítanos</h3>
                <p>
                  No esperes más para descubrir todo lo que Restaurante Ultra tiene para ofrecerte. Te esperamos para brindarte 
                  una experiencia gastronómica que superarás tus expectativas. ¡Reserva tu mesa hoy mismo y déjate sorprender 
                  por la magia de nuestra cocina!
                  Ubicación: Amaguaña,Quito Panamericana
                </p>
            </section>
      </div>
    </div>
  </div>
</div>
          