.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .d1 {
    display: flex;
    flex-direction: row; 
  }
  
  .d2 {
    margin-right: 20px; 
  }
  
  input[type="radio"] {
    margin-right: 5px; 
  }

  .yellow-btn {
    background-color: #FFD700; /* Tono amarillo específico */
    color: black; /* Color del texto */
  }

  .yellow-btn:hover {
    background-color: #FFC107; /* Tono amarillo oscuro para el hover */
    color: black; /* Mantener el color del texto negro en hover */
  }

  .yellow-btn i.material-icons {
    color: black; /* Color del ícono */
  }
  
  